*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;  
}

body{
   background-color: #D9BCA3; 
}


/* cabeçalho */

.nav{
    width: 100%;
   background-color: #0d0d0d;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.nav ul{
display: flex;
justify-content: flex-end;
gap: 20px;
list-style: none;
padding: 12px;
margin: 12px;
right: 10px;

}

.nav button{
    background-color: transparent;
    color:#a69677;
    border-radius: 4px;
    height: 50px;
    width: 120px;
    border:solid #a69677 1px;
    font-size: 25px
    ;
    
}

.nav button:hover{
    background-color: #a69677;
    color: transparent;


    
}

/* Apresentação com Imagem*/

.san img{
    width: 1000px;
    height: 1000px;
    margin-top: 150px;
    position: relative;
    top: 20px;
}


.san{
    background-image: url('/img/Design\ sem\ nome\(5\).jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
    min-height: 10vh; 
   
}

.san h1{
color: #bf8a49;
text-align: right;
text-align: center;
font-size: 100px;

}

/* Sobre Mim */

.thiago h2{
    margin-top: 35px;
    font-size: 54px;
    
}

.thiago p{
    margin-top: 39px;
    font-size: 30px;
}

.thiago{
    
}

/* Projetos */
.projetos{
    
}